main .container .year {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}
main .container .seminar_list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr; /* 1 row */
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
}
main .container .seminar_list li {
    list-style: none;
    transition: transform 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
    background: transparent;
}
main .container .seminar_list li.thisweek p {
    font-weight: bold;
}
main .container .seminar_list li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
main .container .seminar_list li .title {
    word-break: keep-all;
}

@media screen and (max-width: 767px) {
    main .container .seminar_list {
        margin: 0;
        padding: 0;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr; /* 1 columns */
    }
    main .container .seminar_list li {
        padding: 10px 0;
        margin: 0;
        min-height: 0px;
        position: relative;
        left: 20px;
        list-style: disc;
        width: calc(100vw - 50px);
    }
    main .container .seminar_list li:hover {
        transform: none;
        transition: none;
    }
}
