@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&display=swap');

/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(30, 31, 33);
}
/* Style the header and navbar */
header {
    padding: 10px 0;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}
nav {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav h1 {
    color: #777;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
nav h1 a {
    text-decoration: none;
    color: #777;
    font-weight: 400;
    cursor: pointer;
}
nav h1 a:hover {
    color: rgb(30, 31, 33);
}
.navbar {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    cursor: pointer;
    color: #777;
}
.navbar a:hover {
    color: rgb(30, 31, 33);
}
nav .bars {
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
}


main {
    margin-top: 100px;
    min-height: 100vh;
}
main .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}
main .container .lab_photo {
    width: 100%;
    text-align: center;
}
main .container .lab_photo img {
    max-width: 100%;
    border-radius: 10px;
}
main .container .lab_category {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}
main .container .lab_category p {
    color: #555;
    line-height: 1.5;
    font-size: 16px;
    font-style: italic;
}
main .container .lab_contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
main .container .lab_contact a {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
main .container .research_header {
    margin-bottom: 40px;
}
main .container .research_header h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 31, 33);
}

main .container .research_topic {
    margin-bottom: 40px;
}
main .container .research_topic h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 31, 33);
}
main .container .research_topic .odd {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
main .container .research_topic .even {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
main .container .research_topic .img_container {
    width: 50%;
}
main .container .research_topic .img_container img {
    width: 100%;
    object-fit: cover;
}
main .container .research_topic .content_container {
    max-width: 50%;
}
main .container .research_topic .content_container p {
    margin-bottom: 10px;
}
main .container h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 31, 33);
}
main .container .publication_type {
    margin-top: 10px;
    margin-bottom: 40px;
}
main .container .publication_type h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 31, 33);
}
main .container .publication_type .year {
    font-weight: bold;
    color: black;
}
main .container .publication_type .paper_list {
    list-style: none;
    counter-reset: my-counter;
    margin-bottom: 30px;

    text-indent: -12px;
    padding-left: 30px;
}
main .container .publication_type .paper_list li {
    z-index: 0;
    margin-bottom: 10px;
}
main .container .publication_type .paper_list li::before {
    content: "[" counter(my-counter) "] ";
    counter-increment: my-counter;
    display: inline-block;
}
main .container .people_box {
    margin-bottom: 20px;
}
main .container .people_box h1 {
    font-size: 23px;
}
main .container .people_box ul li {
    margin-bottom: 10px;
}


footer {
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer .container {
    padding-top: 10px;
    padding-bottom: 20px;
}
footer .container p {
    color: #777;
    font-size: 12px;
}





@media screen and (max-width: 767px) { 
    nav {
        padding: 0 10px;
    }
    .navbar {
        display: none;
        background-color: #fff;
        padding-top: 20px;
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);
        margin: 0 auto;
    }
    .navbar li {
        display: block;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    nav .bars {
        display: block;
    }
    main {
        margin-top: 60px;
    }
    main .container .lab_contact {
        flex-direction: column;
    }
    main .container .research_topic .odd,
    main .container .research_topic .even {
        flex-direction: column;
    }
    main .container .research_topic .img_container,
    main .container .research_topic .content_container {
        max-width: 100%;
        width: 100%;
    }
}