@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&display=swap");

/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}
* {
    font-family: "Noto Sans KR", sans-serif;
    /*font-family: "Open Sans", sans-serif;*/
    font-weight: 400;
    color: rgb(30, 31, 33);
}
/* Style the header and navbar */
header {
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: calc(100%);
}
nav {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav h1 {
    color: #777;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
nav h1 a {
    text-decoration: none;
    color: #777;
    font-weight: 400;
    cursor: pointer;
}
nav h1 a:hover {
    color: rgb(30, 31, 33);
}
.navbar {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    cursor: pointer;
    color: #777;
}
.navbar a:hover {
    color: rgb(30, 31, 33);
}
nav .bars {
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
}

main {
    margin-top: 100px;
    min-height: calc(100vh - 100px - 70px);
}
main .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}
main .container .lab_photo {
    width: 100%;
    text-align: center;
}
main .container .lab_photo img {
    max-width: 100%;
    border-radius: 10px;
}
main .container .lab_intro {
    margin-top: 20px;
    font-size: 14px;
}
main .container .lab_category {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
main .container .lab_category h1 {
    font-weight: lighter;
}
main .container .lab_category .research_area_container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr; /* 1 row */
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px;
}
main .container .lab_category .research_area_container .research_area_box {
    width: 100%;
    height: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}
main
    .container
    .lab_category
    .research_area_container
    .research_area_box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
main .container .lab_category .research_area_container .research_area_box p {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    grid-row: 1;
}
main .container .lab_category .research_area_container .research_area_box img {
    grid-row: 2;
    width: 70%;
    margin: 0 auto;
}
main .container .lab_news {
    margin-top: 50px;
}
main .container .lab_news h1 {
    font-weight: lighter;
}
main .container .lab_contact {
    margin-top: 50px;
}
main .container .lab_contact h1 {
    font-weight: lighter;
}
main .container .lab_contact p {
    margin-bottom: 20px;
}
main .container .lab_contact .mail_box {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.mail_box .mail_box_container {
    width: 50%;
}
.mail_box_container input[type="email"],
.mail_box_container input[type="text"],
.mail_box_container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.mail_box_container textarea {
    height: 150px; /* Adjust the height as needed */
    resize: none;
}

.mail_box_container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.mail_box_container button:hover {
    color: #ccc;
    background-color: #777;
}

.mail_box iframe {
    width: calc(50% - 10px);
    margin: 0 auto;
    height: 300px;
}

main .container .research_header {
    margin-bottom: 40px;
}
main .container .research_header h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 31, 33);
}

main .container .research_topic {
    margin-bottom: 40px;
}
main .container .research_topic h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 31, 33);
}
main .container .research_topic .odd {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
main .container .research_topic .even {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
main .container .research_topic .img_container {
    width: 50%;
}
main .container .research_topic .img_container img {
    width: 100%;
    object-fit: cover;
}
main .container .research_topic .content_container {
    max-width: 50%;
}
main .container .research_topic .content_container p {
    margin-bottom: 10px;
}
main .container h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 31, 33);
}
main .container .publication_type {
    margin-top: 10px;
    margin-bottom: 40px;
}
main .container .publication_type h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 31, 33);
}
main .container .publication_type .year {
    font-weight: bold;
    color: black;
}
main .container .publication_type .paper_list {
    list-style: none;
    counter-reset: my-counter;
    margin-bottom: 30px;

    text-indent: -12px;
    padding-left: 30px;
}
main .container .publication_type .paper_list li {
    z-index: 0;
    margin-bottom: 10px;
}
main .container .publication_type .paper_list li::before {
    content: "[" counter(my-counter) "] ";
    counter-increment: my-counter;
    display: inline-block;
}
main .container .people_box {
    margin-bottom: 20px;
}
main .container .people_box h1 {
    font-size: 23px;
}
main .container .people_box ul li {
    margin-bottom: 10px;
}

main .container .year {
    color: black;
    font-weight: bold;
}

main .container .seminar_list li {
    color: black;
    font-weight: lighter;
    line-height: 1.5;
}
main .container .seminar_list li:hover {
    font-weight: bold;
}
main .container .seminar_list li .speaker {
    font-weight: inherit;
}
footer {
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer .container {
    padding-top: 10px;
    padding-bottom: 20px;
}
footer .container p {
    color: #777;
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    header {
        width: 100%;
    }
    nav {
        width: calc(100% - 10px);
        padding: 0 10px;
    }
    .navbar {
        display: none;
        background-color: #fff;
        padding-top: 20px;
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: calc(100% - 40px);
        margin: 0 auto;
    }
    .navbar h1 a {
        font-size: 8px;
    }
    .navbar li {
        display: block;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    nav .bars {
        /*button*/
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        top: 0px;
        left: -15px;
    }
    main {
        margin-top: 60px;
    }
    main .container .lab_category .research_area_container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
    main .container .lab_category .research_area_container .research_area_box {
        height: 170px;
    }
    main
        .container
        .lab_category
        .research_area_container
        .research_area_box
        img {
        width: 100px;
        height: 100px;
    }
    main .container .lab_contact .mail_box {
        flex-direction: column-reverse;
    }
    main .container .lab_contact .mail_box .mail_box_container {
        width: 100%;
    }
    main .container .lab_contact .mail_box iframe {
        height: 100px;
        width: 100%;
    }
    main .container .research_topic .odd,
    main .container .research_topic .even {
        flex-direction: column;
    }
    main .container .research_topic .img_container,
    main .container .research_topic .content_container {
        max-width: 100%;
        width: 100%;
    }
}
