main {
  max-width: 1048px;
  margin: 0 auto;
}

main .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

main .container h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  color: rgb(30, 31, 33);
}
main .container .publication_type {
  margin-top: 10px;
  margin-bottom: 40px;
}
main .container .publication_type h1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  color: rgb(30, 31, 33);
}
main .container .publication_type .year {
  font-weight: 400;
  color: black;
  font-size: 14px;
}
main .container .publication_type .paper_list {
  list-style: none;
  counter-reset: my-counter;
  margin-bottom: 30px;

  text-indent: -12px;
  padding-left: 30px;
}
main .container .publication_type .paper_list li {
  z-index: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
main .container .publication_type .paper_list li::before {
  content: "[" counter(my-counter) "] ";
  counter-increment: my-counter;
  display: inline-block;
}

main .container .publication_type .paper_list li a {
  color: black;
  word-break: break-all;
}
main .container .publication_type .paper_list li a:hover {
  text-decoration: line-through;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
