main {
  max-width: 1048px;
  margin: 0 auto;
}

main .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

main .container h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
main .container #searchBox {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(218, 211, 211);
}
main .container #searchInput {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
main .container #searchInput:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
}
main .container #searchInput::placeholder {
  color: #aaa;
}

main .container #seminarList {
  margin: 0;
  padding: 0;
  margin-top: 1em;
}
main .container #seminarList .seminar_card {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  align-items: stretch;
  min-height: 4em;
  border-bottom: 1px solid rgb(218, 211, 211);
}
main .container #seminarList .seminar_card .date {
  min-width: 115px;
  max-width: 115px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 0.5px solid rgb(218, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  min-height: 100%;
}
main .container #seminarList .seminar_card .date p {
  background: transparent;
  font-size: 0.85em;
}
main .container #seminarList .seminar_card .date .day {
  font-size: 1.15em;
  font-weight: bold;
}

main .container #seminarList .seminar_card .info {
  padding: 0.5em 0;
}
main .container #seminarList .seminar_card .info a.title {
  text-decoration: none;
  font-size: 0.9em;
  color: #193889;
  font-weight: bold;
}
main .container #seminarList .seminar_card .info p.title {
  font-size: 0.9em;
  color: #193889;
  font-weight: bold;
}
main .container #seminarList .seminar_card .info p {
  background-color: transparent;
  font-size: 0.85em;
  margin-top: 7px;
  font-weight: 400;
  color: #555;
}

@media screen and (max-width: 767px) {
  main .container {
    padding: 0 20px;
  }

  main .container .seminarList {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr; /* 1 columns */
  }
  main .container .seminar_list li {
    padding: 10px 0;
    margin: 0;
    min-height: 0px;
    position: relative;
    left: 20px;
    list-style: disc;
    width: calc(100vw - 50px);
  }
  main .container .seminar_list li:hover {
    transform: none;
    transition: none;
  }
}
